<div style="margin-bottom: 15px", class="col-lg-4">
  <div class="card">
    <%=(cl_image_tag artwork.images.first.key, height: 250, class: "card-image-top.border-bottom") if artwork.images.exists?%>

    <div class="card-body">
      <h5 class="card-title"><%=link_to artwork.name, artwork_id_path(artwork.id)%></h5>
      <h3 class="test"><%=number_to_currency(artwork.price)%></h3>
      <p class="card-text"><%=artwork.description%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%=artwork.keywords.map{|n| link_to n.name, artwork_path(kw: n.id)}.join(', ').html_safe%></small></small>
    </div>
  </div>
</div>