!!! 5
%html{lang: "nl"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title= @app_title
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity: "ha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin: "anonymous"

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header.nav.navbar.navbar-expand-sm.navbar-light.bg-white.border-bottom
      .container
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", class: "d-inline-block align-top", height: "60", style: "position: relative; top: -2px"

        #tabs
          %ul.navbar-nav.mr-0
            %li.nav-item= link_to "Alle kunstwerken", artwork_path, class: "nav-link"
            %li.nav-item= link_to "Over artistine", about_path, class: "nav-link"
            %li.nav-item= link_to "Contacteer ons", contact_path, class: "nav-link"
  
    .container.mb-5
      .row
        .col-12
          - if flash[:notice]
            .flash.flash_notice.alert.alert-info.mt-5= flash[:notice]
          - if flash[:error]
            .flash.flash_error.alert.alert-danger.mt-5= flash[:error]
          - if flash[:alert]
            .flash.flash_alert.alert.alert-danger.mt-5= flash[:alert]
  
      .modals
        = yield :modals
  
      = yield
  
      #footer.fixed-bottom.border-top.bg-white
        .container
          %ul.footer.nav.navbar
            -# %li.footer-links.nav-item
            -#   %i.fa.fa-facebook 
            -#   %i.fa.fa-instagram= link_to "#"

            %li.footer-copyright.nav-item.justify-content-center
              Een project van Art'istine

            %li.nav-item.right
              - if admin_user_signed_in?
                %li.nav_item= link_to "Admin Uitloggen", destroy_admin_user_session_path, method: :delete
              - else
                %li.nav_item= link_to "Admin Inloggen", new_admin_user_session_path

  

  = javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js", integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin: "anonymous"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity: "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin: "anonymous"
  = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity: "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin: "anonymous"
  -# = javascript_include_tag "application"
