!!! 5
%html{lang: "nl"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title= @app_title
    = csrf_meta_tags
    = csp_meta_tag

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header.navbar.navbar-expand-sm.navbar-light.bg-white.border-bottom
      .container
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", class: "d-inline-block align-top", height: "60", style: "position: relative; top: -2px"
          %span.text-info.d-md-inline.d-none
            -# Art'istine
            %span.oi.oi-chevron-right.text-secondary.ml-1.mr-1{style: "top: 3px"}
        %a.navbar-brand.mr-auto{:href => "/"}
          %span= @app_title
  
        %span.navbar-text.right
        -# - if teacher_signed_in?
        -#   = link_to "Uitloggen", destroy_teacher_session_path, method: :delete
        -# 
        -# - if current_admin_user && controller.current_school.present?
        -# 
          .dropdown.ml-5
            %button#dropdownMenuButton.btn.btn-outline-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Admin
            .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
              = link_to "Admin omgeving", "/admin", class: "dropdown-item"
              .dropdown-divider
              - if @student
                = link_to "Toon leerling", admin_student_path(@student.id), class: "dropdown-item"
              - if @order
                = link_to "Toon bestelling", [:admin, @order], class: "dropdown-item"
  
  
    .container.mb-5
      .row
        .col-12
          - if flash[:notice]
            .flash.flash_notice.alert.alert-info.mt-5= flash[:notice]
          - if flash[:error]
            .flash.flash_error.alert.alert-danger.mt-5= flash[:error]
          - if flash[:alert]
            .flash.flash_alert.alert.alert-danger.mt-5= flash[:alert]
  
      .modals
        = yield :modals
  
      = yield
  
    #footer
  -#     - content_for :terms do
  -#       - if ( school = controller.current_school ) && school.outsources_billing?
  -#         %span.text-nowrap= link_to "Algemene Voorwaarden", terms_and_conditions_path
  -#         %span.ml-3.mr-3 -
  -#       = link_to "Privacyverklaring", privacy_path
  -# 
  -#     - if content_for? :sticky_footer
  -#       #sticky-footer.bg-primary.text-white
  -#         .container
  -#           .row
  -#             .col-8
  -#               = content_for :sticky_footer
  -#             .col-4.align-self-center
  -#               = content_for :terms
  -#     - elsif school = controller.current_school
  -#       #non-sticky-footer
  -#         .container
  -#           .row
  -#             .col-md-12
  -#               .text-center
  -#                 = school.store.name.capitalize
  -#                 Schoolboekendienst
  -#                 %span.ml-3.mr-3 -
  -#                 %span.text-nowrap= VatId.new(school.store.vat_id).to_s(format: :fancy)
  -#                 %span.ml-3.mr-3 -
  -#                 = content_for :terms
  -# 
  = javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js", integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin: "anonymous"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity: "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin: "anonymous"
  = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity: "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin: "anonymous"
  -# = javascript_include_tag "application"
